<!--The content below is only a placeholder and can be replaced.-->

<app-register></app-register>

<!-- <app-login></app-login> -->

<!-- <app-pipe-demo></app-pipe-demo> -->

<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <input type="text" [(ngModel)]="title">

 </div>
 <app-user [abc]="title" [users]="users" 
  (childChanged)="changeChild($event)">
   <header>Header Info</header>
   <main class="section">Main Contents</main>
   <footer>Footer Info</footer>
 </app-user>
