<div class="container">
    <h1 class="text-center text-primary">
        Title from Parent : {{ title }}
        Child Control : 
            <input type="text" #childControl 
            (keyup)="onKeyup(childControl.value)">
    </h1>
</div>

<!-- Data Projection -->
<div class="container">
    <ng-content select="header"></ng-content>
</div>

<div class="container">
    <ul class="list-unstyled">
        <li class="well">
            <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-2">
                    <img [src]="user.image" class="img-responsive img-rounded" >
                    <button 
                        (click)="moreInfo(user)"
                        class="btn btn-info btn-sm">More Info</button>
                </div>
                <div class="col-xs-10 col-sm-10 col-md-10">
                    <h1>{{ user.firstName }} {{ user.lastName }}</h1>
                    <p>Date Of Birth : {{ user.dob }}</p>
                    <p>Income : {{ user.income }}</p>
                    <em class=pull-right>
                        Total Votes  : {{ user.votes }}
                        <!-- <input type="number" 
                            [value]="user.votes"
                            (change)="user.votes=$event.target.value"> -->
                        <input type="number" [(ngModel)]="user.votes">
                        <!-- input type="number" [ngModel]="user.votes" (ngModelChange)="$event" -->
                    </em>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="container">
    <ng-content select=".section"></ng-content>
</div>
<div class="container">
    <ng-content select="footer"></ng-content>
</div>
